<div style="text-align: right ; margin-right: 40px;">

  <h2>  <a (click)= "adminService.logout()">Logout</a> <br> </h2>

</div>
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Annual leaves</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="applications" class="nav-link">Applications</a>
      </li>
      <li class="nav-item">
        <a routerLink="application" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="application" class="nav-link">Reset Password</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
